{% extends "conteneur.html" %}
{% block titre %}| Catalogue{%endblock%}

{% block corps %}

<h1 class="display-4" style="text-align:center;">Catalogue numérique</h1>
<br/>
<p class="text-accueil">
  La bibliothèque de l'<b>Académie d'Architecture</b> est composée de deux collections qui reflètent le patrimoine culturel de l'institution: une <b>bibliothèque patrimoniale</b> comprennant des ouvrages anciens et précieux, qui représente un fonds documentaire permettant de retracer l'histoire de l'architecture et de son enseignement au fil des siècles, mais également une <b>bibliothèque de recherche</b> dotée d'ouvrages récents qui permettent d'étudier les thèmes et les pratiques modernes de la discipline. Cette Bibliothèque de recherche est en cours de traitement.
</p>
<p class="text-accueil">Les exemplaires historiques sont rangés dans la <b>Bibliothèque du Grand Salon</b>, voici la liste des ouvrages qui y sont conservés.
</p>
<br/>

<div class="row">
  <div class="col-sm-12 col-xs-4 col-sm-offset-1 col-xs-offset-1">
    <table id="catalogue_table">

      <thead class="thead-light">
        <tr>
          <th scope="col">Auteur(s)</th>
          <th scope="col">Titre</th>
          <th scope="col">Editeur</th>
          <th scope="col">Date de publication</th>
          <th scope="col">Localisation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>auteur</td>
          <td>titre</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>auteur</td>
          <td></td>
          <td>éditeur</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>auteur</td>
          <td></td>
          <td></td>
          <td>année</td>
          <td></td>
        </tr>
        <tr>
          <td>auteur</td>
          <td></td>
          <td></td>
          <td></td>
          <td>étagère</td>
        </tr>
        <tr>
          <td>auteur</td>
          <td>titre</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>auteur</td>
          <td></td>
          <td>éditeur</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>auteur</td>
          <td></td>
          <td></td>
          <td>année</td>
          <td></td>
        </tr>
        <tr>
          <td>auteur</td>
          <td></td>
          <td></td>
          <td></td>
          <td>étagère</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
{% endblock %}
