{% extends "conteneur.html" %}
<div>
<h1>BHAA</h1>
{% block Catalogue %}
<div class="card-body">
  <div class="container">
      <div class="row">
        <div class="jumbotron">
          <div class="col-sm-12 col-xs-6 col-sm-offset-6 col-xs-offset-3">
          <h1 class="display-4">CATALOGUE</h1>
          <p class="text-accueil">
            Dans le catalogue il y a plein d'informations
</p>
<div class="row">
<div class="col-2"></div>
<div class="col-sm-14 col-xs-4 col-sm-offset-1 col-xs-offset-1">
            <p class="text-accueil">
              livre livre livre </i>
            </p>
            </div>
            <div class="col-2"></div>


</div>
<hr/>
            <p class="sous-titre">texte.</p>
            <div class="bouton-accueil">
              <a class="btn-accueil btn-secondary rounded" href="#" role="button">Se connecter pour accéder aux fonds</a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
