{% extends "conteneur.html" %}
{% block titre %}| Catalogue{%endblock%}
{% block corps %}

<h1 class="display-4">CATALOGUE</h1>
<p class="text-accueil">
  Voici la liste des ouvrages conservés par l'Académie d'Architecture
</p>
<p class="text-accueil">
  Les exemplaires historiques sont rangés dans la Bibliothèque du Grand Salon
</p>
<p class="text-accueil">
  La Bibliothèque de recherche est en cours de traitement.
</p>
<div class="row">
  <div class="col-2"></div>
  <div class="col-sm-14 col-xs-4 col-sm-offset-1 col-xs-offset-1">
    <table id="catalogue_table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Auteur(s)</th>
          <th scope="col">Titre</th>
          <th scope="col">Editeur</th>
          <th scope="col">Date de publication</th>
          <th scope="col">Localisation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>auteur</td>
          <td>titre</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>auteur</td>
          <td></td>
          <td>éditeur</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>auteur</td>
          <td></td>
          <td></td>
          <td>année</td>
          <td></td>
        </tr>
        <tr>
          <td>auteur</td>
          <td></td>
          <td></td>
          <td></td>
          <td>étagère</td>
        </tr>
        <tr>
          <td>auteur</td>
          <td>titre</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>auteur</td>
          <td></td>
          <td>éditeur</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>auteur</td>
          <td></td>
          <td></td>
          <td>année</td>
          <td></td>
        </tr>
        <tr>
          <td>auteur</td>
          <td></td>
          <td></td>
          <td></td>
          <td>étagère</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-2"></div>

</div>
{% endblock %}
