{% extends "conteneur.html" %}
{% block titre %}| Erreur ?{%endblock%}
{% block corps %}
<div>
            <h1>*Code Erreur*</h1>
                            <div class="row">
                                <div class="col-sm-12 col-xs-6 col-sm-offset-6 col-xs-offset-3">
                                    <p class="text-accueil"> Une erreur est survenue, veuillez vérifier que:</p>
                                </div>
                            <div class="row">
                                        <div class="col-sm-6">
                                          <ul>
   <li class="sous-titre">vous disposez d'un compte utilisateur (identifiant et mot de passe valides)</li>
   <li class="sous-titre">vous avez correctement orthographié vos coordonnées de connexion</li>
   <li class="sous-titre">vous disposez des droits d'accès au catalogue de la Bibliothèque de l'Académie d'Architecture</li>
</ul>
                                        </div>
                                        <div class="row">
                                          <div class="col-sm-12 col-xs-6 col-sm-offset-6 col-xs-offset-3">
                                              <p class="text-accueil">Si vous rencontrez des problèmes, veuillez contacter le service de la conservation</p>
                                          </div>



                                        </div>

                                </div>
                            </div>
                        </div>
        {% endblock %}
