{% extends "conteneur.html" %}
{% block liste %}

<h1>BHAA</h1>
    {% if livre %}
    <p>Application de gestion de la bibliothèque patrimoniale de l'Académie d'Architecture</p>
    <ul>

        <li>accueil</li>
        <li>formulaire</li>
        <li>identification</li>

    </ul>
    <p>Il y a {{livre|length}} livres enregistrés :</p>
        <ul>
            {% for livre in livres %}
                <li><a href="{{url_for('livre', livre_id=livre.livre_id)}}">{{livre.livre_titre}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>La base de données de la <b>bibliothèque</b> est en cours de constitution</p>
    {% endif %}
{% endblock %}
