{% extends "conteneur.html" %}
{% block titre %}| Notice exemplaire{%endblock%}

{% block corps %}

<div class="row">
  <div class="container">
  {% if livres %}
        <h1>{{livres.livre_titre}}</h1>
        <dl>
            <dt>auteur</dt><dd>{{livres.livre_auteur}}</dd>
            <dt>editeur</dt><dd>{{livres.livre_editeur}}</dd>
            <dt>annee</dt><dd>{{livres.livre_annee}}</dd>
            <dt>localisation</dt><dd>{{livres.livre_localisation}}</dd>
        </dl>
    {% else %}
        <p> ENCORE RATÉ ! </p>
    {% endif %}
  </div>
  <div class="container">
    <img id="image_exemplaire" src="static/images/logo_notice.jpg" class="img-thumbnail mx-auto d-block" alt="Couverture d'exemplaire" title="exemplaire"/>
  </div>
  <div class="row">
      <div class="container">
      <table id="notice_table" class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Auteur(s)</th>
            <th scope="col">Titre</th>
            <th scope="col">Editeur</th>
            <th scope="col">Année de publication</th>
            <th scope="col">Localisation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {% if livres %}
              {{livres.livre_auteur}}
              {% else %}
              *erreur*
              {% endif %}
            </td>
            <td>
            {% if livres %}
            {{livres.livre_titre}}
            {% else %}
            *erreur*
            {% endif %}
          </td>
            <td>
            {% if livres %}
            {{livres.livre_editeur}}
            {% else %}
            *erreur*
            {% endif %}
          </td>
            <td>{% if livres %}
            {{livres.livre_annee}}
            {% else %}
            *erreur*
            {% endif %}
          </td>
            <td>{% if livres %}
            {{livres.livre_localisation}}
            {% else %}
            *erreur*
            {% endif %}
          </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row-4">
      <div class="col-sm-12">
    <div class="container-card">
      <p class="text-accueil">
        {% if livres %}
        Affichage du livre {{livres.livre_id}} des livres enregistrés ,
        <br/>
        Le livre "<i>{{livres.livre_titre}}</i>" a été écrit par {{livres.livre_auteur}} et publié par {{livres.livre_editeur}} en {{livres.livre_annee}}
        et se trouve sur l'étagère {{livres.livre_localisation}} de la bibliothèque du Grand Salon de l'Académie d'Architecture.
        <br/>
        <br/>
        {% else %}
        La base de données de la bibliothèque historique est en cours de constitution mais l'affichage NE FONCTIONNE PAS
        {% endif %}
      </p>
    </div>
  </div>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}
