<!DOCTYPE html>
<html lang="fr">
    <head>
      <meta charset="UTF-8"/>
        <title>BHAA {%block titre %}{%endblock%}</title>
        <link media="../images/fonds.jpg"/>
        {% include "partials/css.html" %}
        {% include "partials/metadata.html" %}
    </head>
    <body class="fonds">
      {% include "partials/header.html" %}
      <!-- <img src="static/images/fonds.jpg" id="fondecran" class="fondecran" alt="fonds d'écran"/> -->
<div>
      {% block corps %}
      {% endblock %}
      {% block catalogue %}
      {% endblock %}
</div>
        {% include "partials/footer.html" %}
    </body>
</html>
