<html>
    <head>
        <title>BHAA</title>
        {% include "partials/css.html" %}
        {% include "partials/metadata.html" %}
    </head>
    <body>
      {% include "partials/header.html" %}
      <!-- <img src="static/images/fonds.jpg" id="fondecran" class="fondecran" alt="fonds d'écran"/> -->
      {% block corps %}
      {% endblock %}
      {% block catalogue %}
      {% endblock %}

        <!-- <div>{% block liste%}{%endblock%}</div> -->
        {% include "partials/footer.html" %}
    </body>
</html>
