<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8"/>
        <title>BHAA {%block titre %}{%endblock%}</title>
        <!-- <link media="../images/fonds.jpg"/> -->
        {% include "partials/css.html" %}
        {% include "partials/metadata.html" %}
    </head>
    <body>
      <div>
        <img id="image-de-fonds" src="static/images/fonds.jpg" alt="bibliotheque"/>
          {% include "partials/header.html" %}
         <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="jumbotron" id="corps" style="margin: auto; width: 90%;">
                  <div class="col-sm-12 col-xs-6 col-sm-offset-6 col-xs-offset-3">
                     {% block corps %}
                     {% endblock %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  <!-- <div>{% block liste%}{%endblock%}</div> -->
      {% include "partials/footer.html" %}
     </body>
</html>
