<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="footer"/>
  <meta name="author" content="Amandine Heathcote"/>

  <title>BHAA Footer</title>
  {% include "partials/css.html" %}
  {% include "partials/metadata.html" %}

</head>

<body>
  <!-- Footer -->
  <footer>
    <!-- Footer Links -->
    <div class="card-footer text-center bg-light">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 offset-md-3">
          <!-- Content -->
          <h5 class="text-uppercase">BHAA</h5>
          <div class="container">
            <span class="text-muted">Application développée grâce à Python 3.6, Mysql, HTML5, CSS3 et Bootstrap.</span>
            <div>
              <p>
              <a href="https://github.com/HeathcoteA/AcadArch" class="text-muted">Open source sur GitHub</a>
              - <a href="http://www.chartes.psl.eu/fr/cursus/master-technologies-numeriques-appliquees-histoire" class="text-muted">Master TNAH à l'ENC</a>
            <br/>
              <a href="http://academie-architecture.fr" class="text-muted">Académie d'Architecture</a>
              - <a href="https://ccfr.bnf.fr/portailccfr/jsp/index_view_direct_anonymous.jsp?record=rnbcd:INSTITUTION:12652" class="text-muted">{BNF Catalogue collectif de France</a>
              </p>
            </div>
          </div>
        </div>
      </div>

    </footer>
</body>
</html>
