<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="footer"/>
  <meta name="author" content="Amandine Heathcote"/>

  <title>BHAA Footer</title>
  {% include "partials/css.html" %}
  {% include "partials/metadata.html" %}

</head>

<body>
  <header>test</header>
  <div class="container"> Brouillon pour partials/footer.html </div>
  <div class="container"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </div>
  <!-- Footer -->
  <footer>
    <!-- Footer Links -->
    <div class="card-footer text-center">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 offset-md-3">
          <!-- Content -->
          <h5 class="text-uppercase">BHAA</h5>
          <div class="container">
            <span class="text-muted">Application développée grâce à Python 3.6, Mysql, HTML5, CSS3 et Bootstrap.</span>
            <div><a href="https://github.com/HeathcoteA/AcadArch" class="text-muted">Open source sur GitHub</a>
              - <a href="http://www.chartes.psl.eu/fr/cursus/master-technologies-numeriques-appliquees-histoire" class="text-muted">Master TNAH à l'ENC</a>
              - <a href="http://academie-architecture.fr" class="text-muted">Académie d'Architecture</a></div>
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
            </div>

          </div>
        </div>
      </div>

    </footer>
</body>
</html>
