<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="header"/>
  <meta name="author" content="Amandine Heathcote"/>

  <title>BHAA Header</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css_local/bootstrap.css"/>
  <link rel="stylesheet" href="css_local/style.css"/>
</head>

<body>
  <header>
    <div class="card-header">
      <div class="row">
        <a href="templates/pages/index.html"><img id="logo" src="static/images/logo_academie.png" alt="logo"/></a>
        <!-- <div id="logo "title="logo" alt="Académie d'Architecture" style="">
        a</div> -->
        <p>AA Bibliothèque</p>
      </div>
    </div>
    <div class="container-card">
      <span>Bienvenue sur la page d'accueil de l'application de consultation et de gestion de la bibliothèque historique de l'Académie d'Architecture</span>
    </div>
  </header>
</body>
</html>
